# Lab 5 | OLS from Scratch

In [75]:
import pandas as pd
import numpy as np
from numpy import linalg as la

Let's take what we learned today in lecture and apply it to a real world dataset. The following is the **Chicago Crime Data**, which we encountered earlier. The data has been wrangled so that the unit of analysis is the district-month for all district-months contained in the original Summer 2018 data.

Using OLS, let's answer the following question: **_Does more violent crimes lead to a higher arrest rate?_** Below we'll build a function that estimates a linear model using what we learned in the lecture (feel free to lean heavily on today's lecture notes). We'll do this all from scratch, so no third party modules (other than `numpy` and `pandas`).

### Data

In [107]:
dat = pd.read_csv('crime-disctrict-month.csv').dropna()
dat['ln_N_crimes'] = np.log(dat.N_crimes)
dat['ln_N_violent_crimes'] = np.log(dat.N_violent_crimes)
dat['ln_N_nonviolent_crimes'] = np.log(dat.N_nonviolent_crimes)
dat.head()

,district,month,N_crimes,N_violent_crimes,N_nonviolent_crimes,crime_rate,arrest_rate,ln_N_crimes,ln_N_violent_crimes,ln_N_nonviolent_crimes
0,19,8,1177,218.0,959,average,0.12,7.070724,5.384495,6.865891
1,16,6,727,189.0,538,average,0.11,6.588926,5.241747,6.287859
2,4,7,1266,435.0,831,average,0.19,7.143618,6.075346,6.722630
3,24,8,771,174.0,597,average,0.13,6.647688,5.159055,6.391917
4,17,8,635,159.0,476,low,0.10,6.453625,5.068904,6.165418

In [214]:
dat.filter(regex="_").corr().round(2)

,N_crimes,N_violent_crimes,N_nonviolent_crimes,arrest_rate,ln_N_crimes,ln_N_violent_crimes,ln_N_nonviolent_crimes
N_crimes,1.00,0.79,0.96,0.55,0.71,0.70,0.69
N_violent_crimes,0.79,1.00,0.57,0.78,0.56,0.73,0.49
N_nonviolent_crimes,0.96,0.57,1.00,0.37,0.68,0.58,0.68
arrest_rate,0.55,0.78,0.37,1.00,0.48,0.63,0.42
ln_N_crimes,0.71,0.56,0.68,0.48,1.00,0.95,1.00
ln_N_violent_crimes,0.70,0.73,0.58,0.63,0.95,1.00,0.92
ln_N_nonviolent_crimes,0.69,0.49,0.68,0.42,1.00,0.92,1.00

### Instructions 

Do the following:

1. Write a function that takes a regression formula (e.g. `y ~ x1 + x2`) and data as input and outputs OLS regression results. Specifically, the output should include: 
    - coefficient estimates,
    - standard errors,
    - R-squared
    
The output should looks something like this:

```
Model: y ~ x1 + x2
============================================================
	Intercept:  0.671 (0.05)
	x1: 0.5 (0.22)
	x2: 0.89 (0.0)
============================================================
R^2 = 0.32

```
    
2. Run the following model: `arrest_rate ~ N_violent_crimes`. Comment on the results.
3. Run the following model: `arrest_rate ~ ln_N_violent_crimes`. Comment on the results.
3. Run the following model: `arrest_rate ~ ln_N_violent_crimes + ln_N_crimes`. Comment on the results.

In [33]:
def ols(formula = "",data=None):
    '''
    Function yields OLS estimates from scratch. 
    
    Arguments:
        formual: a regression equation expressed as a formula.
            y ~ x1
        data: a pandas data frame
    '''
    pass